/* format for phones */
body {
  font-family: sans-serif;
  font-size: 4vmin;
  overflow: hidden;
  position: absolute;
  margin: 1rem;
  line-height: 1;
}
button {
  margin: 0.2rem 0 0.2rem 0;
  padding: 0.3rem;
  font-family: sans-serif;
  font-size: 4vmin;
}

/* detect ipad */
@media (min-device-width:768px) {
  body {
    font-size: 1.2rem;
    background-color: skyblue;
  }
  button {
    font-size: 1.0rem;
  }
}

/* detect desktop */
@media (min-device-width: 1200px) {
  body {
    font-size: 1.0rem;
    background-color: orange;
  }
  button {
    font-size: 1.0rem;
  }
}
