body {
  font-family: sans-serif;
  font-size: 4vmin;
  overflow: hidden;
  position: absolute;
  margin: 1rem;
  line-height: 1;
}
button {
  margin: 0.2rem 0 0.2rem 0;
  padding: 0.3rem;
  font-family: sans-serif;
  font-size: 4vmin;
}
/*
  * android tall is red;
  * but android wide is still yellow.
  * [ ] ipad is yellow and way too big font
  * both phonbe look decent
  * [ ] desktop font is way too big
tablet
*/
body {
          background-color: yellow;
      }
@media (max-width: 480px) {
      body {
          background-color: red;
      }
  }

  /* Media Query for Large screens */
  @media (min-device-width: 1281px)
{
      body {
          font-size: 1.2rem;
          background-color: orange;
        }
        button {
          font-size: 1.0rem;
        }
  }

@media only screen and (min-device-width:321px) and (max-device-width:768px) {
  body {
    background-color: skyblue;
  }

}
